#contenido{
  margin-top: 0px;
  padding-top: 0px:
}

/*Diseños de edicion para cada imagen*/
#sector1{
  -webkit-filter:blur(10px) drop-shadow(3px 2px 2px #02010a);
}
#sector2, #sector4, #sector6{
  -webkit-filter: grayscale(100%) drop-shadow(3px 2px 2px #02010a);
}
#sector3{
  -webkit-filter:sepia(90%) drop-shadow(3px 2px 2px #02010a);
}


/*Aplicacion de media queries para desktop*/
@media screen and (min-width: 900px){
  #contenedor{
    width: 92%;
    margin-left: 4%;
    background:  #d5c75f;
    display: flex;
    flex-direction: column;
  }
  #fila1, #fila2{
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
  }
  #sector1{
    width: 96%;
    margin-left: 2%;
    order: 1;
  }
  #sector2{
    width: 96%;
    margin-left: 2%;
    order: 2;
  }
  #sector3{
    width: 96%;
    margin-left: 2%;
    order: 3;
  }
  #sector4{
    width: 96%;
    margin-left: 2%;
    order:4;
  }
  #sector5{
    width: 96%;
    margin-left: 2%;
    order: 5;
  }
  #sector6{
    width: 96%;
    margin-left: 2%;
    order: 6;
  }
}

/*media queries para dispositivos mobiles*/
@media screen and (max-width: 899px){
  #contenedor{
    width: 100%;
    background:  #d5c75f;
    display: flex;
    flex-direction: column;
  }
  #fila1, #fila2{
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
  }
  #sector1{
    width: 96%;
    margin-left: 2%;
    order: 1;
  }
  #sector2{
    width: 96%;
    margin-left: 2%;
    order: 2;
  }
  #sector3{
    width: 96%;
    margin-left: 2%;
    order: 3;
  }
  #sector4{
    width: 96%;
    margin-left: 2%;
    order:4;
  }
  #sector5{
    width: 96%;
    margin-left: 2%;
    order: 5;
  }
  #sector6{
    width: 96%;
    margin-left: 2%;
    order: 6;
  }
}
